<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>vue指令</title>
    <script src="./Vuev2.7.7.js"></script>
  </head>
  <style>
    .active {
      width: 600px;
      height: 100px;
      background-color: pink;
    }
  </style>
  <body>
    <div id="app">
      <input type="text" v-model="stu" />
      <input type="button" value="change" @click="change" />

      <ul>
        <li v-for="(value,index) in stu">{{ index+1 + value }}</li>
      </ul>

      <input type="text" v-for="item in arr" v-model="item.name" />
      <input type="button" value="isShow" @click="isShow" />
      <ul v-show="show">
        <li v-for="item in arr">{{item.name}}</li>
      </ul>

      <div :class="{active:show}" @click="" ></div>

      <ul v-if="show">
        <li v-for="img in imgs"><img :src="img" alt="" /></li>
      </ul>
      <!-- <img v-for="img in imgs" :src="img" alt="img" /> -->
    </div>

    <script>
      var app = new Vue({
        el: "#app",
        data: {
          stu: ["亚索", "阿卡丽", "艾瑞利亚"],
          arr: [
            { name: "狂风绝息斩" },
            { name: "表里莎缭乱" },
            { name: "艾欧尼亚昂扬不灭" },
          ],
          show: true,
          imgs: [
            "./imgs/精灵旅社.jpg",
            "./imgs/爱情应该有的样子.jpg",
            "./imgs/警察荣誉.jpg",
            "./imgs/浪子降魔.webp",
            "./imgs/目中无人.webp",
            "./imgs/破事精英.jpg",
          ],
        },
        methods: {
          change: function () {
            this.stu = ["疾风剑豪", "离群之刺", "刀锋之女"];
          },
          isShow: function () {
            this.show = !this.show;
          },
          
        },
      });
    </script>
  </body>
</html>
